%div.row.well
  %div.col-md-4.col-sm-6
    %br
    = image_tag "max.jpg", class: "img-responsive"
    %br
    %p.text-center
      %button.btn.btn-primary
        %span.glyphicon.glyphicon-envelope{"aria-hidden":"true"}
        Send Message
      %button.btn.btn-success
        %span.glyphicon.glyphicon-link{"aria-hidden":"true"}
        Connect

    %p
      %h4
        Endorsed by
      %hr
        - 500.times do
          %a{"data-toggle":"tooltip", "data-placement":"top", "title":"", "data-original-title":"#{Faker::Name.name}"}
            = image_tag "avatars/#{"%03d" % (1...60).to_a.sample}.jpg", class: "img-mini"




  %div.col-md-8.col-sm-12
    %h1
      Max B. Liu
    %div.row
      %div.col-md-6
        %h5
          %span.glyphicon.glyphicon-briefcase{"aria-hidden":"true"}
          Health and Medical sciences
      %div.col-md-6
        %h5
          %span.glyphicon.glyphicon-home{"aria-hidden":"true"}
          Hercules, CA
    %div.row
      %div.col-md-6
        %h5
          = fa_icon "globe"
          %strong
          Working: Woldwide
      %div.col-md-6
        %h5
          = fa_icon "language"
          Speaking: English, Mandarin Chinese, French



    %hr
    %div.row
      %div.col-md-10
        %h4
          = fa_icon "flask"
          Research Experience
        %div.list-group
          %a.list-group-item
            %strong.list-group-item-heading
              Medscholars Research Project, Kathmandu, Nepal and Hanoi, Vietnam
            %br
            Researcher Stanford University, June 2014 – Current
            %p.list-group-item-text
              Initiated and coordinated a multinational study to assess quality of drug samples that
              were allegedly counterfeit as part of a public health quality control measure.
          %a.list-group-item
            %strong.list-group-item-heading
              National Hospital of Pediatrics, Hanoi, Vietnam
            %br
            Researcher, Department of Hepatology, May 2012 – Current
            %p.list-group-item-text
              Launched and led all aspects of a clinical research project involving retrospective chart
              review of patients with biliary atresia to characterize natural progression and outcomes.
          %a.list-group-item
            %strong.list-group-item-heading
              National Institute of Nutrition, Hanoi, Vietnam
            %br
            Field Researcher, Ministry of Health, May 2013 – Jul 2013
            %p.list-group-item-text
              Performed data analysis of a whole-food nutrition supplement project aimed at improving
              birth outcomes of pregnant women in a rural district.
          %a.list-group-item
            %strong.list-group-item-heading
              Oakland Children’s Hospital, Oakland, CA
            %br
            Staff Research Associate, Deborah Dean Lab, Nov 2012 – May 2013
            %p.list-group-item-text
              Managed all aspects of the lab including basic science research projects aimed at full
              genotype analysis of Chlamydia trachomatis through whole-genome sequencing.
          %a.list-group-item
            %strong.list-group-item-heading
              New York University, New York City, NY
            %br
            Summer Research Fellow, Cardiothoracic Surgery Dept., June 2010 – Aug 2010
            %p.list-group-item-text
              Investigated the relationship between MT1-MMP and the AKT cell-signaling pathway.
          %a.list-group-item
            %strong.list-group-item-heading
              Duke University Medical Center, Durham, NC
            %br
            Independent Study, Department of Pathology Aug 2009 – May 2010
            %p.list-group-item-text
              Developed a tagging system to visualize Salmonella typhimurium and human mast cells.
          %a.list-group-item
            %strong.list-group-item-heading
              Yale University, New Haven, CT
            %br
            Summer Research Fellow, Department of Biochemistry, June 2009-Aug 2009
            %p.list-group-item-text
              Studied the structural characteristics of beta keratin protein in bird feathers by comparing
              protein sequences and performing biochemical analyses.

    %div.row
      %div.col-md-12
        %h4
          %span.glyphicon.glyphicon-education{"aria-hidden":"true"}
          Academic Experience
        %div.list-group
          %a.list-group-item
            %strong.list-group-item-heading
              Stanford University Medical School
            %br
            MD Candidate, 2013-2017
          %a.list-group-item
            %strong.list-group-item-heading
              Duke University
            %br
            A.B. Chemistry, summa cum laude, May 2012
          %a.list-group-item
            %strong.list-group-item-heading
              Pembroke College, Oxford University
            %br
            Chemistry Visiting Scholar, 2011
      %div.col-md-12
        %h4
          %span.glyphicon.glyphicon-bookmark{"aria-hidden":"true"}
          Awards
        %div.list-group
          %a.list-group-item
            %strong.list-group-item-heading
              Osaka Medical College Exchange Program
            %br
            Osaka Medical College, April 2015
          %a.list-group-item

            %strong.list-group-item-heading
              Doris Duke International Research Fellowship
            %br
            UC San Francisco, March 2015
          %a.list-group-item
            %strong.list-group-item-heading
              Merck Index Award
            %br
            Duke University Department of Chemistry, May 2012
          %a.list-group-item
            %strong.list-group-item-heading
              Holton Prize for Educational Research
            %br
            Duke Program in Education, May 2012
          %a.list-group-item
            %strong.list-group-item-heading
              Oxford University Collection Prize
            %br
            Oxford University, May 2011
          %a.list-group-item
            %strong.list-group-item-heading
              New York University Summer Research Fellowship
            %br
            New York University, May 2010
          %a.list-group-item
            %strong.list-group-item-heading
              Yale University Summer Research Fellowship
            %br
            Yale University, May 2009
          %a.list-group-item
            %strong.list-group-item-heading
              Phi Beta Kappa Member
            %br
            North Carolina Beta Chapter, May 2012
          %a.list-group-item
            %strong.list-group-item-heading
              UC Berkeley Alumni Association Leadership Award
            %br
            UC Berkeley, May 2008
          %a.list-group-item
            %strong
              AP Scholar with Distinction Award
            %br
            Piedmont High School, 2008
